.grid-dashboard-meals {
  /*height: 100%;*/
  margin: 0 auto;
  display: grid;
  /*grid-template: repeat(auto-fit, 150px) / repeat(auto-fit, 300px);*/
  grid-template-columns: repeat(4, 1fr);
  /*flex-wrap: wrap;*/
  /*justify-content: center;*/
  gap: 20px;
}

.button-container {

  display: flex;
  justify-content: center;
  margin-top: 300px;
  grid-column: span 4;
}