.grid-container {
  display: grid;
  /*grid-template-rows: 15vh max(100%, 85vh);*/
  /*grid-template-columns: min-content;*/

  /*grid-template-areas:*/
  /*  'side-bar header'*/
  /*  'side-bar content';*/
  /*grid-template-areas:*/
  /*  'header header'*/
  /*  'content content';*/
}

.header {
  color: var(--white);
  grid-area: header;
  background-color: var(--background-light);
  padding: 20px 30px;
}

.content {
  /*grid-area: content;*/
  /*padding: 40px 80px;*/
  /*margin: 0 auto;*/
  /*width: clamp(700px,90%, 1500px);*/
}
