.input-wrapper {
  margin: 0 auto;
  max-width: 650px;
}

.dashboard-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  grid-template-areas:
    "chart chart Summary"
    "chart chart Summary"
    "checkout . .";
}
.chart { grid-area: chart; }
.Summary {
  grid-area: Summary;
}
.checkout {
  grid-area: checkout;
  padding-bottom: 20px;
}