.grid-dashboard {
  height: 100%;
  margin: 0 auto;
  display: grid;
  /*grid-template: repeat(auto-fit, 150px) / repeat(auto-fit, 300px);*/
  justify-content: center;
  gap: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: auto;
  grid-column: span 4;
}